name: Build and Publish

on:
  release:
    types: [created]
  
env:
  BUILD_CONFIGURATION: Release
  DOTNET_VERSION: '9.x'
  VERSION: ${{ github.ref_name }}

jobs:
  build-sign-publish:
    runs-on: ubuntu-latest
    environment: nuget-org-publish
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build
        run: |
          dotnet build Infragistics.QueryBuilder.Executor.csproj -c ${BUILD_CONFIGURATION} /p:Version=${{env.VERSION }}

      - name: Restore signing certificate
        env:
            SIGNING_CERTIFICATE_2023_2026: ${{ secrets.SIGNING_CERTIFICATE_2023_2026 }}
        run: |
          echo $SIGNING_CERTIFICATE_2023_2026 | base64 --decode > signingcert.pfx

      # NB: We are removing the DLL signing process as it can cause slow DLL loading time in air-gapped scenarios.
      # We can put it back in case it is important for a specific usecase - then the signed DLLs should somehow be separated from the unsigned ones.
      
      - name: Pack NuGet package
        run: dotnet pack ./Infragistics.QueryBuilder.Executor.csproj --no-build --no-restore --configuration ${BUILD_CONFIGURATION} -p:PackageVersion=${VERSION} -o "${{ github.workspace }}/nupkg"

      - name: Sign NuGet package (using dotnet nuget sign)
        shell: pwsh
        env:
          SIGNING_CERTIFICATE_PASSWORD: ${{ secrets.SIGNING_CERTIFICATE_PASSWORD }}
          SIGNING_CERTIFICATE_TIMESTAMP_URL: ${{ vars.SIGNING_CERTIFICATE_TIMESTAMP_URL }}
        run: dotnet nuget sign "${{ github.workspace }}/nupkg/*.nupkg" --certificate-path signingcert.pfx--certificate-password "${SIGNING_CERTIFICATE_PASSWORD}" --timestamper "${SIGNING_CERTIFICATE_TIMESTAMP_URL}" --overwrite 

      - name: NuGet login (OIDC Trusted Publishing)
        uses: nuget/login@v1
        id: nuget-login
        with:
          user: ${{ secrets.INFRAGISTICS_NUGET_ORG_USER }}

      - name: Publish to NuGet.org
        shell: pwsh
        run: dotnet nuget push ${{ github.workspace }}/nupkg/Infragistics.QueryBuilder.Executor.${VERSION}.nupkg --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json"

      - name: Clean up certificate
        if: always()
        shell: pwsh
        run: |
          $certPath = "${{ runner.temp }}\certificate.pfx"
          if (Test-Path $certPath) {
            Remove-Item $certPath -Force
            Write-Host "Certificate cleaned up"
          }
